<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="head :: head">
    <title>Welcome [[${#httpServletRequest.remoteUser}]]</title>
</head>
<body>
<nav th:include="nav :: nav"></nav>
<div class="container">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>
<div th:include="scripts :: scripts"></div>
</body>
</html>