<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
  <title>Add New Job</title>
</head>

<body class="gray-bg">

	<nav th:include="nav :: nav" class="navbar navbar-default"></nav>

    <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      
      <h4>New Employee</h4>

      <form autocomplete="off" action="#" th:action="@{/hello/newjob}"
        th:object="${jobs}" method="post" class="m-t" role="form"
        data-toggle="validator">

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('jobName')}"
            th:errors="*{jobName}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          
          <input type="text" th:field="*{jobName}"
            placeholder="Job Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{jobAddress}"
            placeholder="Job Address" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{category}"
            placeholder="Job Category" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{customerName}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{amountDue}"
            placeholder="Quoted Amount" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>

        </div>
       
        <button type="submit"
          class="btn btn-primary block full-width m-b">Register</button>

      </form>
     
    </div>
  </div>

<div th:include="scripts :: scripts"></div>

 
</body>

</html>