<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
  <title>Registration Page</title>
</head>

<body class="gray-bg">
    <aside th:include="sidebar :: sidebar"></aside>
    <nav th:include="nav :: nav" class="navbar navbar-default"></nav>

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="container">
      
      <h4>New Business</h4>

      <form autocomplete="off" action="#" th:action="@{/hello/newbusiness}"
		 method="post" class="m-t" role="form" data-toggle="validator">

        <div th:if="${errorMessage}"
          class="alert alert-danger" role="alert"
          th:text="${errorMessage}"></div>

        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          
          <input type="text" th:field="*{business.bizName}"
            placeholder="Business Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          
          <input type="text" th:field="*{jobs.jobAddress}"
            placeholder="Business Address" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
       
        <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

      </form>
     
    </div>
  </div>

    <div th:include="scripts :: scripts"></div>
 
</body>

</html>