<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
  <title>Registration Page</title>
</head>

<body class="gray-bg">

<aside th:include="sidebar :: sidebar"></aside>
<nav th:include="nav :: nav" class="navbar navbar-default"></nav>
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="container">
      
      <h4>Registered</h4>
     
    </div>
  </div>

<div th:include="scripts :: scripts"></div>
</body>

</html>