<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="User account registration" />
<meta name="author" content="Amir Boroumand" />
<link rel="icon" href="favicon.ico" />

<title>Registration Page</title>

<!-- Bootstrap core CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
<link th:href="@{css/style.css}" rel="stylesheet" />

<body>
	<nav th:fragment="navbar" class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/login">Unlimited Solutions</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="/newjob">Add Job</a></li>
      		<li><a href="/adduser">Add User</a></li>
      		<li><a href="/register">Register</a></li>
      		<li><a href="/clock">Clock</a></li>
    	</ul>
  		</div>
	</nav>  
<div class="container">
		<table class="table table-striped">
	<caption></caption>
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Employee Name</th>
				<th>Last In Time</th>
				<th>Last Out Time</th>
				<th>Period Time</th>
				<th>Period Pay</th>
				<th>Pay Rate</th>
				<th>Clocked In</th>
			</tr>
		</thead>


    <tr th:each="clock : ${clock}">
        <td th:text="${clock.id}">1</td>
        <td th:text="${clock.user}">1</td>
        <td th:text="${clock.clockIn}">1</td>
        <td th:text="${clock.clockOut}">1</td>
        <td th:text="${clock.weekTime}">1</td>
        <td th:text="${clock.totalPay}">1</td>
        <td th:text="${clock.payRate}">1</td>
        <td th:text="${clock.clocked}">1</td>
         <td><a type="button" class="btn btn-primary" th:href="@{/employee/{id}/update(id=${clock.id})}" th:text="Update"></a></td>
		<td><a type="button" class="btn btn-danger" th:href="@{/employee/{id}/delete(id=${clock.id})}" th:text="Delete"></a></td>
    </tr>


</table>
<br>
<div> <a class="button" href="/adduser">Add New Employee</a></div>
</div>

</body>
</html>
