<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
    <title>View Materials</title>
</head>
<body>
<aside th:include="sidebar :: sidebar"></aside>
<nav th:include="nav :: nav" class="navbar navbar-default"></nav>
<div class="container">
    <table class="table table-striped">
        <caption></caption>
        <thead>
        <tr>
            <th>PO Number</th>
            <th>Part Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
        </thead>


        <tr th:each="material : ${material}">
            <td th:text="${material.poNumber}">1</td>
            <td th:text="${material.partName}">1</td>
            <td th:text="${material.quantity}">1</td>
            <td th:text="${material.price}">1</td>
            <td th:text="${material.totalPrice}">1</td>
        </tr>

    </table>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3 th:text="${'Total Material Cost: $' + totalCost}"></h3>
        </div>
    </div>
    <div> <a class="button" th:href="@{/hello/jobs/{id}/materials/update(id=${jobs.id})}">Add More Materials</a></div>
</div>
<div th:include="scripts :: scripts"></div>
</body>
</html>
