<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
	<title>Registration Page</title>
</head>

<body>
<nav th:include="nav :: nav" class="navbar navbar-default"></nav>
<div class="container">
		<table class="table table-striped">
	<caption></caption>
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Employee Name</th>
				<th>Last In Time</th>
				<th>Last Out Time</th>
				<th>Period Time</th>
				<th>Period Pay</th>
				<th>Pay Rate</th>
				<th>Clocked In</th>
			</tr>
		</thead>


    <tr th:each="clock : ${clock}">
        <td th:text="${clock.id}">1</td>
        <td th:text="${clock.user}">1</td>
        <td th:text="${clock.clockIn}">1</td>
        <td th:text="${clock.clockOut}">1</td>
        <td th:text="${clock.weekTimeInHours}">1</td>
        <td th:text="${clock.totalPay}">1</td>
        <td th:text="${clock.payRate}">1</td>
        <td th:text="${clock.clocked}">1</td>
         <td><a type="button" class="btn btn-primary" th:href="@{/employee/{id}/update(id=${clock.id})}" th:text="Update"></a></td>
		<td><a type="button" class="btn btn-danger" th:href="@{/employee/{id}/delete(id=${clock.id})}" th:text="Delete"></a></td>
    </tr>


</table>
<br>
<div> <a class="button" href="/hello/adduser">Add New Employee</a></div>
</div>
<div th:include="scripts :: scripts"></div>
</body>
</html>
