<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
	<title>View Jobs</title>
</head>

<body>
<nav th:include="nav :: nav" class="navbar navbar-default"></nav>
<div class="container">
		<table class="table table-striped">
	<caption></caption>
		<thead>
			<tr>
				<th>Job Name</th>
				<th>Address</th>
				<th>Category</th>
				<th>Customer</th>
				<th>Quote Amount</th>
				<th>Amount Due</th>
				<th>Amount Paid</th>
				<th>Material Cost</th>
				<th>Paid</th>
			</tr>
		</thead>


    <tr th:each="jobs : ${jobs}">
        <td th:text="${jobs.jobName}">1</td>
        <td th:text="${jobs.jobAddress}">1</td>
        <td th:text="${jobs.category}">1</td>
        <td th:text="${jobs.customerName}">1</td>
        <td th:text="${jobs.amountCharged}">1</td>
        <td th:text="${jobs.amountDue}">1</td>
        <td th:text="${jobs.amountPaid}">1</td>
		<td th:text="${jobs.materialCost}">1</td>
        <td th:text="${jobs.isPaid}">1</td>
        <td><a type="button" class="btn btn-primary" th:href="@{/hello/jobs/{id}/update(id=${jobs.id})}" th:text="Update"></a></td>
		<td><a type="button" class="btn btn-danger" th:href="@{/hello/jobs/{id}/delete(id=${jobs.id})}" th:text="Delete"></a></td>
		<td><a type="button" class="btn btn-primary" th:href="@{/hello/jobs/{id}/materials/update(id=${jobs.id})}" th:text="Materials"></a></td>
		<td><a type="button" class="btn btn-primary" th:href="@{/hello/jobs/{id}/materials/(id=${jobs.id})}" th:text="View_Materials"></a></td>

    </tr>


</table>
<br>
<div> <a class="button" href="/hello/newjob">Add New Job</a></div>
<div> <a class="button" href="/hello/showjobs">View All Jobs</a></div>
</div>
	<div th:include="scripts :: scripts"></div>
</body>
</html>
