<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head th:include="head :: head">
    <title>Update Jobs</title>
</head>

<body class="gray-bg">

<div th:include="nav :: nav"></div>
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      
      <h4>Update Job</h4>

      <form autocomplete="off" action="#" th:action="@{/hello/jobs/{path}/update(path=${id})}"
        th:object="${jobs}" method="post" class="m-t" role="form"
        data-toggle="validator">
          
	    <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{customerName}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
       	<div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{amountCharged}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{category}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{jobAddress}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{jobName}"
            placeholder="Customer Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
       
        <button type="submit"
          class="btn btn-primary block full-width m-b">Submit</button>

      </form>
     
    </div>
  </div>

<div th:include="scripts :: scripts"></div>
 
</body>

</html>