<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">	
	<nav th:fragment="navbar" class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/login">Unlimited Solutions</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="/newjob">Add Job</a></li>
      		<li><a href="/adduser">Add User</a></li>
      		<li><a href="/register">Register</a></li>
      		<li><a href="/clock">Clock</a></li>
    	</ul>
  		</div>
	</nav>
<h1>Done</h1>